# Go
*.test
*.out
/bin/

# Editor/OS
.idea/
*.swp
.DS_Store

# hidden folders
.[a-zA-Z0-9]*/
.[a-zA-Z0-9]*/**/*
# Example binaries (go build output in-place)
/examples/mailserver/mailserver
/examples/quickstart/quickstart
